<div>
  <form class="form input-group" [formGroup]="fg">
    <div class="form__name-container">
      <div class="form__input">
        <label>First Name</label>
        <input class="input-group-text" type="text" formControlName="firstName" />
        <span class="text-danger" *ngIf="isFieldInvalid('firstName')">First Name is required</span>
      </div>
  
      <div class="form__input">
        <label>Last Name</label>
        <input class="input-group-text" type="text" formControlName="lastName" />
      </div>
    </div>

    <div class="form__input">
      <label>Date of Birth</label>
      <input class="input-group-text" type="date" formControlName="dateOfBirth" />
      <span class="text-danger" *ngIf="isFieldInvalid('dateOfBirth')">Date of Birth is required</span>
    </div>

    <div class="form__input">
      <label>Age</label>
      <input class="input-group-text" type="number" formControlName="age" readonly />
    </div>

    <div class="form__input">
      <label>Hobbies</label>
    <!-- hobbies is a formArray -->
      <ng-container formArrayName="hobbies">
        <div *ngFor="let hobby of formHobbies.controls; let i = index" [formGroupName]="i">
          <div class="form--hobbies">
            <input class="input-group-text" type="text" formControlName="hobby" />
            <button class="btn btn-danger" (click)="removeHobby(i)">Remove</button>
          </div>
          <div class="text-danger" *ngIf="isFieldInvalid('hobbies.' + i + '.hobby')">Hobby is required</div>
        </div>
        <button class="btn btn-success mt-2" (click)="addHobby()">Add Hobbies</button>
      </ng-container>
    </div>

    <button class="btn btn-primary mt-4" (click)="submit()">Submit</button>
  </form>
</div>